[Unit]
Description=ROS 2 Launch File for Controller Commands
After=network.target

[Service]
Environment="DISPLAY=:0"
Environment="ROS_DOMAIN_ID=100"
Environment="ROS_LOCALHOST_ONLY=1"
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
User=username
WorkingDirectory=/home/username
ExecStartPre=/bin/mkdir -p /run/user/1000
ExecStartPre=/bin/chown username:username /run/user/1000
ExecStartPre=/bin/chmod 700 /run/user/1000
ExecStartPre=/bin/bash -c 'export $(dbus-launch)'
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/username/ros2_ws/install/setup.bash; ros2 launch controller_commands driver.launch.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
